<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <a class="nav-link" routerLink="dashboard">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Dashboard
      </a>
    </div>
    <div class="nav">
      <a class="nav-link" routerLink="product">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Product
      </a>
    </div>
    <div class="nav">
      <a class="nav-link" routerLink="product/add">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        ProductAdd
      </a>
    </div>
    <div class="nav">
      <a class="nav-link" routerLink="category">
        <div class="sb-nav-link-icon">
          <i class="fas fa-tachometer-alt"></i>
        </div>
        Category
      </a>
    </div>
  </div>
</nav>